<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Select Place</ion-label>
      <ion-select [(ngModel)]="isType" (ionChange)="nearbyPlace()">
        <ion-option value="">Select</ion-option>
        <ion-option value="mosque">Masjid</ion-option>
        <ion-option value="hospital">Hospital</ion-option>
        <ion-option value="restaurant">Restaurant</ion-option>
        <ion-option value="bank">Bank</ion-option>
        <ion-option value="airport">Airport</ion-option>
        <ion-option value="library">Library</ion-option>
        <ion-option value="gym">Gym</ion-option>
        <ion-option value="atm">Atm</ion-option>
        <ion-option value="shopping_mall">Shopping Mall</ion-option>
        <ion-option value="police">Police Station</ion-option>
        <ion-option value="zoo">Zoo</ion-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select Distance</ion-label>
      <ion-select [(ngModel)]="isKM" (ionChange)="nearbyPlace()">
        <ion-option value="500">Select</ion-option>
        <ion-option value="2000">2 KM</ion-option>
        <ion-option value="4000">4 KM</ion-option>
        <ion-option value="6000">6 KM</ion-option>
        <ion-option value="8000">8 KM</ion-option>
      </ion-select>
  </ion-item>

  <div #map id="map"></div>
</ion-content>
